* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  background-color: #414548;
  color: white;
}

body {
  padding: 1rem 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.left-container {
  display: flex;
  align-items: center;
}
.left-container p {
  margin-left: 1.5vw;
  width: 100%;
}
.left-container p:hover {
  color: #00c3e3;
  transition: all 0.5s;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(../resources/PostBP7.jpg);
  background-size: cover;
}

span {
  line-height: 13px;
}

main {
  padding: 1rem 0.8rem;
}
main .bigcontainer {
  width: 100%;
  position: relative;
  display: flex;
  gap: 0px 1vw;
}
main .bigcontainer .container {
  display: flex;
  flex-direction: column;
  width: 20%;
  transition: 1.5s all;
}
main .bigcontainer .container .categoryName {
  width: 85%;
  opacity: 0;
}
main .bigcontainer .container a:not(.close) {
  width: 100%;
  margin-top: 0.8vw;
}
main .bigcontainer .container a:not(.close):hover {
  outline: 5px #00c3e3 solid;
  transition: outline 0.3s;
}
main .bigcontainer .container:hover .categoryName {
  opacity: 1;
  color: #00c3e3;
  animation-name: movingText;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes movingText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20%);
  }
}
main .bigcontainer .container .whoami {
  background-image: url(../resources/aboutme.png);
  background-size: cover;
  aspect-ratio: 1/1;
  max-inline-size: 100%;
  block-size: auto;
}
main .bigcontainer .container .projects {
  background-image: url(../resources/projects.png);
  background-size: cover;
  aspect-ratio: 1/1;
  max-inline-size: 100%;
  block-size: auto;
}
main .bigcontainer .container .education {
  background-image: url(../resources/education.png);
  background-size: cover;
  aspect-ratio: 1/1;
  max-inline-size: 100%;
  block-size: auto;
}
main .bigcontainer .container .resume {
  background-image: url(../resources/resume.png);
  background-size: cover;
  aspect-ratio: 1/1;
  max-inline-size: 100%;
  block-size: auto;
}
main .bigcontainer .container .contactme {
  background-image: url(../resources/contactme.png);
  background-size: cover;
  aspect-ratio: 1/1;
  max-inline-size: 100%;
  block-size: auto;
}

.socialNetworks {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 10px;
}
.socialNetworks div {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 0.2rem;
}
.socialNetworks div:hover {
  outline: 5px #00c3e3 solid;
  transition: outline 0.3s;
}
.socialNetworks div a {
  text-decoration: none;
}
.socialNetworks div a:visited {
  color: black;
}
.socialNetworks div a i {
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #989898;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 20px;
  }
  body {
    padding: 0.5rem 0.75rem;
  }
  .navbar {
    flex-direction: column-reverse;
    gap: 5px;
    margin-bottom: 1rem;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .left-container {
    gap: 20px;
  }
  .left-container p {
    font-size: 30px;
    margin-left: 2vw;
    width: 100%;
  }
  .right-container {
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  .right-container span {
    flex-grow: 2;
  }
  main {
    padding: 0;
  }
  main .bigcontainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  main .bigcontainer .container {
    width: 100%;
    gap: 10px;
  }
  main .bigcontainer .container .categoryName {
    opacity: 1;
  }
  main .bigcontainer .container:hover .categoryName {
    animation-play-state: paused;
    color: white;
  }
  main .bigcontainer .container a:not(.close) {
    width: 100%;
    margin-top: 0.8vw;
  }
  main .bigcontainer .container a:not(.close):hover {
    border: 5px #00c3e3 solid;
  }
  main .contentContainer {
    display: none;
  }
  main .contentContainer .content {
    padding: 0.2rem;
    top: auto;
  }
  .socialNetworks {
    justify-content: space-between;
  }
  .socialNetworks div {
    width: 50px;
    height: 50px;
  }
  .socialNetworks div i {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=index.css.map */