*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    // font-size: 15px;
    // overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    width: 100vw;
}

header{
    position: sticky;
    position: -webkit-sticky;
    z-index: 100;

    top: 0; /* required */

}

.navbar{
    height: 60px;
    background-color: #431A85;
    // position: sticky;
    // // position: -webkit-sticky;
    // top: 0px;
    // z-index: 100;

}

.nav-links{
    display: flex;
    align-items: center;
    height: 100%;
    li{
        display: flex;
        justify-content: center;
        height: 60%;
        // border: 1px red solid;
        a{
            width: 50%;
            color: #FFFADE;
            background-color: #BAA1D5;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            // margin: 0 1rem;
        }
    }
}

// main{
//     margin-top: 60px;
// }


.logo{
    width: 80px;
    height: 80px;
    border: 1px black solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 490px;
    left: 10px;
    position: fixed;
    p{
        display: flex;
        justify-content: center;
    }
}

.space{
    width: 100vw;
    height: 100vh;
}