//monitor min-width 1201 px and max width 1920px
$fontsize : 40px;
$fontcolor: white;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: $fontsize;
    // overflow-y: hidden;
    // overflow-x: visible;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    background-color: #414548;
    color: $fontcolor
    // width: 100vw;
}
body{
    padding: 1rem 1.5rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    // border: 1px red solid;
}
.left-container{
    display: flex;
    // border: 1px red solid;
    align-items: center;
    p{
        // border: 1px red solid;
        margin-left: 1.5vw;
        width: 100%;
    }
}
.right-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../resources/PostBP7.jpg);
    background-size: cover;
}
span{
    line-height: 13px;
}
main{
    padding: 1rem 0.8rem;
    .bigcontainer{
        width: 100%;
        height: 400px;
        position: relative;
        display: flex;
        gap: 0px 1vw;
        .container{
            display: flex;
            flex-direction: column;
            width: 20%;
            transition: 1.5s all;
            .categoryName{
                width: 85%;
                opacity: 0;
            }
            a:not(.close){
                width: 100%;
                margin-top: 0.8vw;
                &:hover {
                        outline: 5px #00c3e3 solid;
                        transition: outline 0.3s;
                    }
                }
            &:hover .categoryName{
                opacity: 1;
                color: #00c3e3;
                animation-name: movingText;
                animation-duration: 2s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-timing-function: linear;

                @keyframes movingText {
                    0%{transform: translateX(0);}
                    100%{transform: translateX(20%);}
                }
            }
                    .whoami {
                        background-image: url(../resources/aboutme.png);
                        background-size: cover;
                        aspect-ratio: 1/1;
                        max-inline-size: 100%;
                        block-size: auto;
                    }
                    .projects {
                        background-image: url(../resources/projects.png);
                        background-size: cover;
                        aspect-ratio: 1/1;
                        max-inline-size: 100%;
                        block-size: auto;
                    }
                    .education {
                        background-image: url(../resources/education.png);
                        background-size: cover;
                        aspect-ratio: 1/1;
                        max-inline-size: 100%;
                        block-size: auto;
                    }
                    .resume {
                        background-image: url(../resources/resume.png);
                        background-size: cover;
                        aspect-ratio: 1/1;
                        max-inline-size: 100%;
                        block-size: auto;
                    }
                    .contactme {
                        background-image: url(../resources/contactme.png);
                        background-size: cover;
                        aspect-ratio: 1/1;
                        max-inline-size: 100%;
                        block-size: auto;
                    }
        }
    }
        .contentContainer {
            display: none;
            .content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 0.2rem;
                // display: flex;
                border-radius: 15px;
                // justify-content: space-between;
                background-color: #989898;
                // border: 1px red solid;
                .cardHead{
                    // border: 1px red solid;
                    position: sticky;
                    background-color: #989898;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 2px;
                    p{
                        background-color: #989898;
                        width: 100%;
                        text-align: center;
                        font-weight: bold;
                        // justify-self: center;
                        // border: 1px red solid;
                    }
                    a{
                        background-color: #989898;
                        // justify-self: flex-end;
                    }
                    i{
                        background-color: #989898;
                    }
                }
                .cardContent{
                    width: 100%;
                    height: 85%;
                    background-color: #989898;
                    // border: 1px red solid;
                    p,.blue{
                    background-color: #989898;
                    }
                    .blue{
                        color: #ff4554;
                        font-weight: bolder;
                    }
                    .progressImg{
                        width: 100%;
                        height: 80%;
                        background-color: #989898;
                        // border: 1px red solid;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            background-color: #989898;
                            width: 200px;
                            height: 200px;
                        }
                    }
                }
            }
        }
    }

// main{
//     padding: 1rem 0.8rem;
//     // border: 1px red solid;
//     // display: flex;
//     .bigcontainer{
//         width: 100%;
//         // border: 1px red solid;
//         display: flex;
//         .container{
//             display: flex;
//             flex-direction: column;
//             width: 20%;
//             margin-right: 0.8vw;
//             // p{
//             //     // border: 1px red solid;
//             //     opacity: 1;
//             // }
//             a:not(.close){
//                 // border: 1px red solid;
//                 width: 100%;
//                 // height: 320px;
//                 margin-top: 0.8vw;
//                 &:hover {
//                         border: 5px #00c3e3 solid;
//                         // display: block;
//                     }
//                 }
//             // &:hover{
//             //     p{
//             //         // opacity: 1;
//             //     }
//             // }
//                     .whoami {
//                         background-image: url(../resources/aboutme.png);
//                         background-size: cover;
//                         aspect-ratio: 1/1;
//                         max-inline-size: 100%;
//                         block-size: auto;
//                     }
//                     .projects {
//                         background-image: url(../resources/projects.png);
//                         background-size: cover;
//                         aspect-ratio: 1/1;
//                         max-inline-size: 100%;
//                         block-size: auto;
//                     }
//                     .education {
//                         background-image: url(../resources/education.png);
//                         background-size: cover;
//                         aspect-ratio: 1/1;
//                         max-inline-size: 100%;
//                         block-size: auto;
//                     }
//                     .resume {
//                         background-image: url(../resources/resume.png);
//                         background-size: cover;
//                         aspect-ratio: 1/1;
//                         max-inline-size: 100%;
//                         block-size: auto;
//                     }
//                     .contactme {
//                         background-image: url(../resources/contactme.png);
//                         background-size: cover;
//                         aspect-ratio: 1/1;
//                         max-inline-size: 100%;
//                         block-size: auto;
//                     }
//         }
//     }
//         .contentContainer {
//             display: none;
    
//             .content {
//                 display: flex;
//                 flex-direction: column-reverse;
//                 border: 1px red solid;
//                 padding: 0.5rem;
//                 margin: 0.5rem;
    
//                 // p {
//                 //     // width: 80%;
//                 //     // border: 1px red solid;
//                 // }
    
//                 a {
//                     width: 5%;
//                     margin: none;
//                     align-self: flex-end;
//                 }
//             }
//         }
//     }

// main{
//     padding: 1rem 0.8rem;
//     border: 1px red solid;
//     .categoryNames{
//         display: flex;
//             div{
//                 width: 20%;
//                 display: flex;
//                 justify-content: center;
//                 p{
//                     font-size: 0.7*$fontsize;
//                 }
//             }
//         }
//     .categories{
//         display: flex;
//             a{
//                 width: 20%;
//                 height: 320px;
//                 margin-right: 0.8vw;
//                 margin-top: 0.8vw;
//                 &:hover{
//                     border: 5px #00c3e3 solid;
//                         // display: block;
//                 }
//             }
//             .whoami{
//                 background-image: url(../resources/aboutme.png);
//             background-size: cover;
//             aspect-ratio: 1/1;
//             max-inline-size: 100%;
//             block-size: auto;
//             }
//             .projects{
//                 background-image: url(../resources/projects.png);
//             background-size: cover;
//             aspect-ratio: 1/1;
//             max-inline-size: 100%;
//             block-size: auto;
//             }
//             .education{
//                 background-image: url(../resources/education.png);
//             background-size: cover;
//             aspect-ratio: 1/1;
//             max-inline-size: 100%;
//             block-size: auto;

//             }
//             .resume{
//                 background-image: url(../resources/resume.png);
//             background-size: cover;
//             aspect-ratio: 1/1;
//             max-inline-size: 100%;
//             block-size: auto;

//             }
//             .contactme{
//                 background-image: url(../resources/contactme.png);
//             background-size: cover;
//             aspect-ratio: 1/1;
//             max-inline-size: 100%;
//             block-size: auto;

//             }
//     }
// }
.socialNetworks{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    // border: 1px red solid;
    padding-bottom: 10px;
    div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 0.2rem;
        // gap: 1rem;
        &:hover{
            outline: 5px #00c3e3 solid;
            transition: outline 0.3s;
        }
        a{
            text-decoration: none;
            &:visited{
                color: black;
            }
            i{
            height: 100%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #989898;
        }
        }
        
    }
}

//laptop min-width 801px and max-width 1200px
@media only screen and (min-width: 801px) and (max-width: 1200px){
   
}
//tablet min-width 601px and max-width 800px
@media only screen and (min-width: 601px) and (max-width: 800px){
    
}
//mobile max-width 600px
@media only screen and (max-width: 600px){
    $fontsize : 20px;
    *{
        font-size: $fontsize;
    }
    body{
        padding: 0.5rem .75rem;
        // border: 1px red solid;
    }
    .navbar{
        flex-direction: column-reverse;
        gap: 5px;
        margin-bottom: 1rem;
    }
    .logo{
        width: 60px;
        height: 60px;
    }

    .left-container{
        // justify-content: space-between;
        gap: 20px;
        p{
            // border: 1px red solid;
            font-size: 1.5*$fontsize;
            margin-left: 2vw;
            width: 100%;
        }
    }

    .right-container{
        justify-content: flex-end;
        margin-bottom: 10px;
        span{
            flex-grow: 2;
        }

    }
    main{
        padding: 0;
        .bigcontainer{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            .container{
                width: 100%;
                gap: 10px;
                .categoryName{
                    opacity: 1;
                }
                &:hover .categoryName{
                    animation-play-state: paused;
                    color: white;
                }
                // border: 1px red solid;
                // p{
                //     opacity: 0;
                // }
                a:not(.close){
                    width: 100%;
                    // height: 320px;
                    margin-top: 0.8vw;
                    &:hover {
                            border: 5px #00c3e3 solid;
                            // display: block;
                        }
                    }
                // &:hover{
                //     p{
                //         // opacity: 1;
                //     }
                // }
            }
        }
            .contentContainer{
                display: none;
                .content{
                    padding: 0.2rem;
                    top: auto;
                }
            }
        }

    .socialNetworks{
        // border: 1px red solid;
        // flex-wrap: wrap;
        // gap: 10px 15vw;
        // padding: 0 2rem;
        // margin-top: 8rem;
        justify-content: space-between;
        div {
            width: 50px;
            height: 50px;
        i{
            font-size: 1.2rem;
        }
    }
}
}